<html>
    <body bgcolor = #d4a3ae>
        <div>
           
        </div>
            
        <center>
            
            <h1>Movie recommendation system </h1> <br>
            
            <form method="POST", action = "{{url_for('home')}}">
                
                <b> First value : <input type = "text", name = "a", placeholder = "Put your movie name"> <br><br>
                
                <input type = "submit", value = 'Predict' >
                
            </form>
            
            
        </center>
        
      
    </body>    
    
    
</html>