<html>
    <body bgcolor = #d4a3ae0.1>
        
        <center>
            
            <h1>Welcome to our healthcare and check your physical state.  </h1> <br>
            
            <form  action = "{{url_for('BC')}}">
                
                
                <input type = "submit", value = 'Breast Cancer' >
                
            </form>
            
            <form  action = "{{url_for('SP')}}">
                
                
                <input type = "submit", value = 'Stroke Prediction' >
                
            </form>
            
            
            
        </center>
        
        
    </body>    
    
    
</html>